<html>
<body>

<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Blue</title>
</head>

<div class="jumbotron text-center" style="background-color:blue">
  <h1 style="color:white">Cloud Blue</h1>
</div>




<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <h2>Welcome to Blue Web Services {{ identity }}!</h2>	
		 <h4>Your resources: </h4><br>
		{% for i in permissions %}
			{% if i[1] == 1 %}
			<a href="#">{{ i[0] }}</a><br>
			{% endif %}
		{% endfor %}
		
		<br><br>
		<button class="btn btn-primary" onclick="window.location.href = '/logout';">Sign Out</button>
		
		</div>
		
		<div class="col-sm-6">
      <img src="http://news.mit.edu/sites/mit.edu.newsoffice/files/styles/news_article_image_top_slideshow/public/images/2019/MIT-Datacenter-Efficiency_0.jpg?itok=yTafoEjC" style="width:500px;height:300px;">
    </div>
	
	</div>
	</div>
</body>
</html>